*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.carousel{
    border: 1px solid gray;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-inner{
    display: flex;
}

.carousel-item{
    min-width: 100%;
    text-align: center;
}

.carousel-text{
    padding: 0.5rem;
}

.carousel-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.carousel-button{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}
